.firstSection {
    background: rgb(19, 63, 90);
    background: linear-gradient(0deg, rgba(19, 63, 90, 1) 0%, rgba(18, 51, 75, 1) 24%, rgba(17, 38, 59, 1) 38%, rgba(16, 31, 51, 1) 53%, rgba(15, 25, 44, 1) 62%, rgba(15, 24, 43, 1) 100%);
}

.footer-bg {
    background: rgb(19, 63, 90);
    background: linear-gradient(0deg, rgba(15, 24, 43, 1) 0%, rgba(15, 25, 44, 1) 24%, rgba(16, 31, 51, 1) 38%, rgba(17, 38, 59, 1) 53%, rgba(18, 51, 75, 1) 62%, rgba(19, 63, 90, 1) 100%);

}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 197px;
}

.wave .shape-fill {
    fill: #FFFFFF;
}

.img-bg {
    background: rgb(19, 63, 90);
    background: radial-gradient(circle, rgba(19, 63, 90, 1) 0%, rgba(18, 52, 76, 1) 41%, rgba(18, 52, 76, 1) 49%, rgba(18, 51, 75, 1) 76%, rgba(17, 45, 68, 1) 85%, rgba(15, 24, 43, 1) 100%);
}

.wave2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}


.wave2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 21px;
}


.wave2 .shape-fill {
    fill: #FFFFFF;
}